<footer>
  <div class="footer-content">
    <img src="../assets/images/logos/automate-logo.svg" alt="AutoMate Logo" class="footer-logo">
    <nav class="footer-nav">
      <a href="#about">אודות</a>
      <a href="#services">שירותים</a>
      <a href="#success-stories">סיפורי הצלחה</a>
      <a href="#contact">צור קשר</a>
    </nav>
    <div class="social-media">
      <a href="https://www.facebook.com/profile.php?id=61571042885101"><img src="../assets/images/social/facebook-icon.svg" alt="Facebook"></a>
      <a href="https://www.instagram.com/automateil/"><img src="../assets/images/social/instagram-icon.svg" alt="Instagram"></a>
    </div>
    <div class="contact-info">
      <p>טלפון: 03-1234567</p>
      <p>אימייל: info@automate.com</p>
    </div>
    <p class="copyright">© AutoMate 2025, כל הזכויות שמורות.</p>
  </div>
</footer>
